body {
    background-color: darkgray;
}

.square {
    width: 80px;
    height: 80px;
    float: left;
    border: solid 0.5px black;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.white {
    background-color: white;
}